{% extends "geonode_base.html" %}
{% load i18n %}

{% block title %}Management Commands {{ object.title|default:object.slug }} — {{ block.super }}{% endblock %}

{% block head %}
  {% if TWITTER_CARD %}
    {% include "groups/_group_twittercard.html" %}
  {% endif %}
  {% if OPENGRAPH_ENABLED %}
    {% include "groups/_group_opengraph.html" %}
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block body_class %}{% trans "groups" %}{% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2 class="page-title">{% trans "Management Commands: " %} {{ object.title|default:object.slug }}</h2>
</div>
<div class="row">
  <div class="col-md-12">
    {% for object in object_list %}
    <div class="row">
      <div class="col-md-4">
        {{ object.name }}
      </div>
      <div class="col-md-7">
        {{ object.command }}
      </div>
      <div class="col-md-1">
        <form method="post" action="{% url 'cli_execute' object.slug %}">
          {% csrf_token %}
          <input type="submit" class="btn-primary btn" value="{% trans 'Run' %}" />
        </form>
      </div>
    </div>
    {% empty %}
    <div class="row">
      <p>
        {% trans "No management commands defined" %}
      </p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
